HELP.md
.gradle
.idea/
build/
data/
gradle
node
src/
out/


### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

##All files
*.*

### Exclusions ###
!artifacts/db-api.jar
!application.properties
!docker-compose.yml
